.main-wrapper {
	overflow-x: hidden;
}
li .search-btn {
	padding-left: 0px !important;
  margin-top: 20px !important;
  width:100%;
  height:30px;
}

.listing-brands{
  height:300px;
  overflow: auto;
  border: 1px solid;
}
.listing-tab{
  padding-left: 0px !important;
  width:50px;
  height:50px;
}
.nav-category>.dropdown-menu {
	height: initial !important;
}
.nav-category .dropdown-menu li a{
  padding:0px !important;
}

.navbar-brand {
	padding: 0 !important;
}
.navTop {
	padding: 5px !important;
}

.navTop .cart-dropdown>a>span {
    border: 1px solid rgba(82, 73, 73, 0.15);
    border-left: none;
    padding: 3px 5px;
    height: 35px;
    line-height: 12px;
    text-align: left;
    display: table;
    background: #fff;
}
.btn {
	padding: 6px 12px !important;
}

.input-group.add-on {
	margin-left: 6px;
}

.filter-heading {
	padding: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	color: #C5C5C5;
}

.filter-section{
	margin-left: 0px !important;
}

.filters {
	padding-left: 14px;
	padding-right: 5px;
}

.tab-list {
	border-bottom: 1px solid #D4DBE0;
	padding: 10px;
	font-size: 15px;
	padding-left: 30px;
}

.tab-content.search-box {
	border: 1px solid #D4DBE0;
}
.nav > li > a > img {
	width: 43px;
	height: 25px;
}
.tab-list a img {
	max-width: 35px;
	height: 25px;
}

.search-btn a {
	padding: 8px 0;
	font-size: 15px;
	margin-top: 17px;
	border: none;
	background-color: #E6E6E6;
	width: 100%;
}

.input-group-btn .btn-default {
	padding: 6px;
}

.media-left.media-object {
	width: 55px;
}

.nav-tabs > li:last-child > a {
	margin-right: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	background-color: #EEEEEE;
	border: 1px solid #EEEEEE;
	border-bottom-color: #D4DBE0;
}

.panel.panel-default {
	margin-top: 20px;
}
.btn.btn-primary {
	text-transform: none;
}

.list-inline.btn-group > li, .productMasking ul li a {
	padding: 0px !important;
}
.image-single {
	width: 460px;
	border: 1px solid;
	margin-bottom: 30px;
	min-height: 460px;
}
.catalog-detail-image .col-md-2, .catalog-detail-image .col-md-10 {
	padding: 0;
}

.veritcal-img {
	width: 70px;
	border: 1px solid;
	margin-bottom: 10px;
}

.veritcal-img.active {
	border: 3px solid #47BAC1;
}
.veritcal-img a img {
	width: 100%;
}

.catalog-detail-button {
	width: 224px;
	padding: 10px !important;
	border-radius: inherit !important;
	margin-bottom: 20px;
}
.btn.btn-success.catalog-detail-button {
	margin-right: 14px;
}
.price {
	font-size: 16px;
	font-weight: bold;
}
.specifications {
	border: 1px solid #eee;
	margin-top: 20px;
}

th, td {
	width: 50%;
}
th{
	padding-right: 40px;
}
.heading h3 {
	text-transform: none;
	border-bottom: 1px solid #eee;
	padding: 15px 20px;
}
.more-detail {
	padding: 20px;
	border-bottom: 1px solid #eee;
}

.more-detail  th
{
	color :#878787;
}

.read-more {
	font-size: 15px;
	padding: 20px;
	color: #878787;
}

.btn.btn-signin {
	background: #47BAC1;
	padding: 11px !important;
	float: right;
	border-radius: 0;
	color: #fff;
	margin-left: 20px;
}

.btn {
	text-transform: none !important;
}

.thumbnail.product-list:hover {
	box-shadow: 3px 5px 13px #888;
	margin:0 -10px;
	margin-top: -10px;
	padding: 10px;
}
.wishlist-icon {
	color: #C2C2C2;
	font-size: 20px;
  display: none;
	cursor: pointer;
}
.wishlist-icon .fa.fa-heart {
	position: absolute;
	right: 17px;
}
.btn.btn-number {
	border-radius: 50%;
	padding: 0px 7px 7px 7px !important;
}
.input-number{
	width:50px;
	height: 30px;
	border-radius: 0px !important;
	border: 1px solid #C2C2C2;
	padding: 6px;
	text-align: center;
	margin: 0 15px;
}
.cart-link {
	margin-top: 40px;
}
.cart-link a {
	color: #C2C2C2 !important;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 800;
	margin:	0 10px;
}
.cart-link a:hover
{
	color: #2B2B2B !important;
}
.price-detail {
	font-size: 15px;
	padding: 15px 10px;
}

.text-green {
	color: #006400;
	font-weight: bold;
}

.payable-amount {
	margin-top: 20px;
	border-top: 1px dashed;
	padding: 20px 0;
	font-size: 20px;
	font-weight: 600;
}

.savings-order {
	padding: 20px 15px;
	font-size: 15px;
	border-top: 1px solid #eee;
}
