.main-wrapper {
	overflow-x: hidden;
}
li .search-btn {
	padding-left: 0px !important;
  margin-top: 20px !important;
  width:100%;
  height:30px;
}

h1, h2, h3, h4, h5 {
	text-transform: none !important;
}
.listing-brands{
  height:300px;
  overflow: auto;
  border: 1px solid;
}
.listing-tab{
  padding-left: 0px !important;
  width:50px;
  height:50px;
}
.nav-category >.dropdown-menu {
	height: initial !important;
}
.nav-category .dropdown-menu li a{
  padding:0px !important;
}

.navbar-brand {
	padding: 0 !important;
}
.navTop {
	padding: 5px !important;
}

.navTop .cart-dropdown>a>span {
    border: 1px solid rgba(82, 73, 73, 0.15);
    border-left: none;
    padding: 3px 5px;
    height: 35px;
    line-height: 12px;
    text-align: left;
    display: table;
    background: #fff;
}
.btn {
	padding: 6px 12px !important;
}

.input-group.add-on {
	margin-left: 6px;
}

.cart-btn {
	line-height: 0px !important;
}

.filter-heading {
	padding: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	color: #C5C5C5;
}

.filter-section{
	margin-left: 0px !important;
}

.filters {
	min-height: 335px;
}

.tab-list {
	border-bottom: 1px solid #D4DBE0;
	font-size: 15px;
	padding-left: 30px;
}
.tab-list:hover {
	background: #EEEEEE;
}
.tab-item {
	padding: 10px 0;
	color: #252525;
}
.tab-item:hover {
	color: #47BAC1;
}

.tab-content.search-box, .model-search-box {
	border: 1px solid #D4DBE0;
	max-height: 230px;
	overflow-y: auto;
	overflow-x: hidden;
}
.nav > li > a {
    padding: 10px 12px !important;
}
.nav > li > a > img {
	width: 43px;
	height: 25px;
}
.tab-list a img {
	max-width: 35px;
	height: 25px;
}

.search-btn a {
	padding: 8px 0;
	font-size: 15px;
	margin-top: 17px;
	border: none;
	background-color: #E6E6E6;
	width: 100%;
}

.input-group-btn .btn-default {
	padding: 6px;
}

.media-left.media-object {
	width: 55px;
}

.nav-tabs > li:last-child > a {
	margin-right: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	background-color: #EEEEEE;
	border: 1px solid #EEEEEE;
	border-bottom-color: #D4DBE0;
}

.panel.panel-default {
	margin-top: 20px;
}
.btn.btn-primary {
	text-transform: none;
}

.list-inline.btn-group > li, .productMasking ul li a {
	padding: 0px !important;
}
.image-single {
	width: 460px;
	border: 1px solid;
	margin-bottom: 30px;
	min-height: 460px;
}
.catalog-detail-image .col-md-2, .catalog-detail-image .col-md-10 {
	padding: 0;
}
.catalog-detail-button {
	font-weight: 900;
}
.search-btn .btn-default {
	margin-bottom: 10px;
	padding: 8px !important;
	border-radius: 0px;
}
.veritcal-img {
	width: 70px;
	border: 1px solid;
	margin-bottom: 10px;
}

.veritcal-img.active {
	border: 3px solid #47BAC1;
}
.veritcal-img a img {
	width: 100%;
}

.catalog-detail-button {
	width: 224px;
	padding: 10px !important;
	border-radius: inherit !important;
	margin-bottom: 20px;
}
.btn.btn-success.catalog-detail-button {
	margin-right: 14px;
}
.price {
	font-size: 16px;
	font-weight: bold;
}
.old-price {
	font-size: 15px;
	text-decoration: line-through;
	color: #C2C2C2;
	margin-left: 5px;
}
.specifications {
	border: 1px solid #eee;
	margin-top: 20px;
}

th, td {
	width: 50%;
}
th{
	padding-right: 40px;
}
.heading h3 {
	text-transform: none;
	border-bottom: 1px solid #eee;
	padding: 15px 20px;
}
.more-detail {
	padding: 20px;
	border-bottom: 1px solid #eee;
}

.more-detail  th
{
	color :#878787;
}

.read-more {
	font-size: 15px;
	padding: 20px;
	color: #878787;
}

.btn.btn-signin {
	background: #47BAC1;
	padding: 11px !important;
	float: right;
	border-radius: 0;
	color: #fff;
	margin-left: 20px;
}

.btn {
	text-transform: none !important;
}

.thumbnail.product-list:hover {
	box-shadow: 3px 5px 13px #888;
	margin:0 -10px;
	margin-top: -10px;
	padding: 10px;
}
.wishlist-icon {
	color: #C2C2C2;
	font-size: 20px;
  display: none;
	cursor: pointer;
}
.wishlist-icon .fa.fa-heart {
	position: absolute;
	right: 17px;
}
.btn.btn-number {
	border-radius: 50%;
	padding: 0px 7px 7px 7px !important;
}
.input-number{
	width:50px;
	height: 30px;
	border-radius: 0px !important;
	border: 1px solid #C2C2C2;
	padding: 6px;
	text-align: center;
	margin: 0 15px;
}
.cart-product-list {
	margin-bottom: 20px;
}
.cart-link {
	margin-top: 40px;
}
.cart-link a {
	color: #C2C2C2 !important;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 800;
	margin:	0 10px;
}
.cart-link a:hover
{
	color: #2B2B2B !important;
}
.price-detail {
	font-size: 15px;
	padding: 15px 10px;
}

.text-green {
	color: #006400;
	font-weight: bold;
}

.payable-amount {
	margin-top: 20px;
	border-top: 1px dashed;
	padding: 20px 0;
	font-size: 20px;
	font-weight: 600;
}

.savings-order {
	padding: 20px 15px;
	font-size: 15px;
	border-top: 1px solid #eee;
}

.featuredCollection.version2.version3 .btn-border {
	border-color: #47BAC1 !important;
	color: #fff;
}
.featuredCollection.version2.version3 .productImage1 {
	background-repeat: round !important;
}
/*
.fa.fa-angle-left.hover {
	margin-right: 10px;
	font-weight: 800;
}*/

.form-control.contact-us {
	margin-bottom: 10px;
	border: navajowhite;
	border-radius: 0;
}
.contact-container {
    background: #DDDDDD;
    padding-top: 40px;
}
.contact-btn {
    background: #333338;
    color: #fff;
    border-radius: 0 !important;
    font-weight: 600;
    margin-bottom: 20px;
}
.contact-btn:hover {
	background: #666666;
	color: #fff;
}
.contact-label {
	font-weight: 700;
	text-transform: uppercase;
	font-family: initial;
}
.contact-data {
	font-size: 15px;
	font-family: inherit;
	color: #333;
	line-height: 1.5;
}
.contact-right {
	padding-left: 30px;
}
.contact-heading {
	background: #C0C0C0;
	text-align: center;
	padding: 20px 0 0px !important;
}
.footer-image img {
	height: 300px;
	width: 100%;
}

.fa.fa-angle-left.back {
	font-size: 42px;
	float: left;
	margin: -5px 10px 5px 12px;
	color: #D8D8D8;
}
.shoping-content-heading h3, .shoping-content-heading p{
	font-weight: 600;
}
.shoping-content-heading p{
	color: #595959;
}
.active-logo {
	height: 35px;
	width: 35px;
	margin-left: 15px;
}

.img-center {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}
.page-header {
	text-transform: none;
}
.address-heading {
	font-size: 24px;
	font-weight: 600;
	border-bottom: 2px solid #F0F0F0;
	padding-bottom: 10px;
}

.address-btn {
	padding: 5px!important;
	border-radius: 0px !important;
	/* font-size: 17px; */
	font-weight: bold;
}

/*Form Wizard*/
.bs-wizard {
	/*border-bottom: solid 1px #e0e0e0;*/
	padding: 0 0 20px 0;
	margin-top: 20px;
}
.bs-wizard  .bs-wizard-step {
	padding: 0;
	position: relative;
	width: 20%;
	display: inline-block;
	margin: 0 -2px;
}
.bs-wizard  .bs-wizard-step .bs-wizard-stepnum {
	color: #595959;
	font-size: 16px;
	margin-bottom: 5px;
}

.bs-wizard  .bs-wizard-step .bs-wizard-info {
	color: #999;
	font-size: 14px;
}
.bs-wizard  .bs-wizard-step  .bs-wizard-dot {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background: #fbe8aa;
	top: 45px;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 50%;
}
.bs-wizard-step.active  .bs-wizard-dot {
	background: #5bc0de;
}
.bs-wizard  .bs-wizard-step  .bs-wizard-dot:after {
	content: ' ';
	width: 14px;
	height: 14px;
	background: #fbbd19;
	border-radius: 50px; position: absolute; top: 8px; left: 8px;
}
.bs-wizard.active .bs-wizard-step .bs-wizard-dot::after {
	background: #FBE8AA !important;
}
.bs-wizard  .bs-wizard-step  .progress{
	position: relative;
	border-radius: 0px;
	height: 8px;
	box-shadow: none;
	margin: 20px 0;}
.bs-wizard  .bs-wizard-step  .progress  .progress-bar {
	width:0px;
	box-shadow: none;
	background: #fbe8aa;
}
.bs-wizard  .bs-wizard-step.complete  .progress  .progress-bar {
	width:100%;
}
.bs-wizard  .bs-wizard-step.active  .progress  .progress-bar {
	width:50%;
}
.bs-wizard  .bs-wizard-step:first-child.active  .progress  .progress-bar {
	width:0%;
}
.bs-wizard  .bs-wizard-step:last-child.active  .progress  .progress-bar {
	width: 100%;
}
.bs-wizard  .bs-wizard-step.disabled  .bs-wizard-dot {
	background-color: #f5f5f5;
}
.bs-wizard  .bs-wizard-step.disabled  .bs-wizard-dot:after {
	opacity: 0;
}
.bs-wizard  .bs-wizard-step:first-child   .progress {
	left: 50%;
	width: 50%;
}
.bs-wizard  .bs-wizard-step:last-child   .progress {
	width: 50%;
}
.bs-wizard  .bs-wizard-step.disabled a.bs-wizard-dot,.bs-wizard  .bs-wizard-step.active a.bs-wizard-dot {
 	pointer-events: none;
}
/*END Form Wizard*/

.item-address.item-like {
	background: #F0F0F0;
	margin-bottom: 10px;
	padding: 0px 10px;
}
.item-address span, .terms_conditions span {
	position: absolute;
	margin: 4px 14px;
	font-weight: 600;
}

.item.item-service {
	border: solid 1px #D0D0D0;
	margin: 1em 0.5em;
}
.item-service .option {
	margin: 1em;
}
.item-service .icons, .item-service .icon, .item-service .description h2{
	display: inline-block;
}
.item-service .description h2{
	font-size: 16px;
}
.item-service .icons img {
	max-height: 4em;
	margin: 0 1em;
}
.item-service .price-value {
	float: right;
 	margin: 1px;
	font-size: 100%;
}

.item-service .description p {
	font-weight: bold;
	padding: 0.5em 0;
	margin: 0 1em;
}

.height {
    min-height: 125px;
}
.table  tbody  tr  .emptyrow {
    border-top: none;
}
.table  thead  tr  .emptyrow {
    border-bottom: none;
}
.table  tbody  tr  .highrow {
    border-top: 3px solid;
}
.border-bottom > tbody > tr > td{
	border-top: none !important;
	border-bottom: 1px solid #ddd;
}

/* CSS for Credit Card Payment form */

.panel.panel-default.credit-card-box {
	margin-top: 0px !important;
}
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
.card-section {
	display: none;
	vertical-align: top;
	min-width: 240px;
	max-width: 470px;
	width: 50%;
	padding: 0.5em 1em 1em 1em;
}
.edit-summary{
	color: #252525 !important;
	font-size: 14px !important;
}

.terms_conditions {
	margin-left: 40px;
}

.main-login{
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.text-muted{
	color: #888888;
}
.main-center {
	margin-top: 38px !important;
	margin: 0 auto;
	max-width: 400px;
	padding: 5px 40px;
	margin-bottom: 20px !important;
}
.active-links {
	color: #337ab7 !important;
	text-decoration: underline !important;
}
.input-group.login .input-group-addon, .input-group.login .form-control {
	border-radius: 0 !important;
}

.or-divider {
	width: 100%;
	border-bottom: 1px solid #d5d5d5;
	height: 13px;
	text-align: center;
	margin: 11px 0 22px;
}

.or-divider span {
	display: inline-block;
	background: #fff;
	padding: 0 16px;
	font-size: 17px;
}

.container.order-details {
	max-width: 970px !important;
}
.order-detail-heading {
	font-size: 25px;
	font-weight: 600;
	border-bottom: 2px solid #eee;
	padding-bottom: 10px;
}
.order-detail-mp{
	padding: 10px 20px;
	border: 1px solid #eee;
	margin-top: 15px;
}

.border-right {
    border-right: 2px solid #eee;
}
.manage-order i {
	font-size: 40px;
	display: block;
}
.text-center.manage-order a {
	color: #888888;
	width: 100px !important;
	display: block;
	margin: 0 auto;
}
.text-center.manage-order a:hover {
	border-bottom: 8px solid #9ACD32;
	margin-bottom: -15px;
	padding-bottom: 7px;
}
.manage-order a:hover i{
	color: #9ACD32;
}
.order-item-image {
	width: 80px;
	height: 80px;
	background: #eee;
	float: left;
	margin-right: 15px;
}

/ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li {
	 width: 49%;
 }
ol.progtrckr[data-progtrckr-steps="3"] li {
	 width: 33%;
 }
ol.progtrckr[data-progtrckr-steps="4"] li {
	 width: 24%;
 }
ol.progtrckr[data-progtrckr-steps="5"] li {
	 width: 19%;
 }
ol.progtrckr[data-progtrckr-steps="6"] li {
	 width: 16%;
 }
ol.progtrckr[data-progtrckr-steps="7"] li {
	 width: 14%;
 }
ol.progtrckr[data-progtrckr-steps="8"] li {
	 width: 12%;
 }
ol.progtrckr[data-progtrckr-steps="9"] li {
	 width: 11%;
 }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}
.progtrckr-heading{
	display: inline-block;
	width: 12%;
}
.order-total {
	border-top: 2px solid;
	padding: 15px;
	margin-top: 10px;
}
.review-btn{
	font-size: 12px !important;
	margin-top: 5px;
}
.review-rating-content {
	background: #fff;
	margin: 10px 0;
}

.review-contents {
	padding: 25px;
	border-top: 1px solid;
}
.review-contents .content {
	font-size: 15px;
	padding: 5px 2px 10px;
	line-height: 19px;
}
.border-bottom {
	border-bottom: 2px solid #DDDDDD;
}
.review-heading {
	padding: 20px;
	margin-bottom: 0px;
}
.rating-review-heading {
	padding: 20px !important;
}
.rating-review-container{
	background: #DDDDDD;
}
.review-us {
	border: 1px solid #C0C0C0;
}
.review-us .form-control.contact-us {
	margin-bottom: 0px !important;
	box-shadow: unset;
}
.review-us label {
	padding: 0 12px;
	font-size: 13px;
	margin-bottom: 0;
}

.review-us .active{
	color: #5BC0DE;
}
.rating-heading {
	margin: 15px 0;
}
.review-product{
	width: 50%;
}
.stars{
    margin: 20px 0;
    font-size: 22px;
}
.fa-star-o {
	margin-right: 10px;
	cursor: pointer;
	color: #C0C0C0;
}
.fa-star{
    color: #FFE11B;
		margin-right: 10px;
		cursor: pointer;
}
.rating {
    border-bottom: 2px solid #C0C0C0;
}
.btn.review-us-button.pull-right {
	background: #FB641B;
	padding: 10px 50px !important;
	color: #fff;
	font-weight: bold;
	margin: 20px 0;
}
.product-image.pull-right {
	width: 60px;
	border: 1px solid #eee;
	margin-left: 15px;
}
.rating-count {
	width: 55px;
	padding: 3px 5px;
	color: #fff;
	background: #388E3C;
	border: none;
	margin-top: 3px;
}
.reviewed-product-count {
    font-size: 16px;
    padding: 5px 0 0 10px;
}

.review-description{
		min-height: 200px;
		max-width: 750px;
}
